@import "src/entities/styles/mixins";
@import "src/entities/styles/variables";
@import "src/entities/styles/theme";

.fixed-header {
  position: fixed;
  background-color: $primary-color-first;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  padding: $default-offset $default-offset-double;
  display: flex;

  .search-form {
    position: relative;
    width: 100%;

    .search-container {
      position: relative;
      width: 100%;
      height: 50px;

      .search-input {
        @include search-input;
      }

      .search-input-button {
        @include search-input-button;
        .search-icon {
          @include common-icon;
          transition: fill 0.15s ease;
        }
      }
    }
  }
}
