.main-content {
  .category-info {
    font-size: 2rem;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 0 80px;
  }

  .filters {
    padding: 0 80px;
    margin-bottom: 30px;
    .filter-button {
      display: flex;
      justify-content: flex-end;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 6px;
        background-color: white;

        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }
    }

    .filters-options {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  .photos {
    display: flex;

    width: 100%;
    padding: 0 80px;
    justify-content: center;

    .content-flex {
      display: flex;
      flex-direction: column;
      width: 33%;
      padding: 0px 10px;
    }
  }
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: rgb(180, 180, 180);
}
